<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
    <add key="ida:Tenant" value="kkb2c.onmicrosoft.com" />
    <add key="ida:ClientId" value="b3160681-d39c-4f8c-abb0-07d7bbbf86ab" />
    <add key="todo:TodoListResourceId" value="https://kkb2c.onmicrosoft.com/TodoListService" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321" />
  </appSettings>
</configuration>